{% extends 'layout.html' %}

{% block heading %}
    Second Page
{% endblock %}

{% block body %}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium vitae blanditiis ab amet perspiciatis inventore ut modi suscipit aperiam id non incidunt rem maiores fuga, nemo omnis et quod iste? Nulla officia quisquam optio ipsam molestiae minima ullam, harum nesciunt eos perferendis dolor dicta quaerat dolorem? Quasi temporibus ratione ut.</p>
    <a href="{{ url_for('index') }}">GO Back...</a>
{% endblock %}